.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.marquee {
  font-size: 150px;
  white-space: nowrap;
  height: 430px;
  font-family: sans-serif;
  animation: moveRightToLeft 20s linear infinite;
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
